*.py[cod]
auto_examples
generated
.vscode

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
doc/_build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# PyCharm
.idea/

# subject files
examples/funloc/subj_0*/
examples/funloc/run_sss.sh
examples/funloc/.ipynb_checkpoints/

*.orig
*.DS_store

*~
env/
*.whl
.cache/
cachedir/
examples/funloc/cachedir/
.ropeproject/
doc/_static/flow.dot
